html, body {
    padding:0;
    margin: 0;
    box-sizing:border-box;
}

.container {
    margin: 0 3em;;
}

.background {
    background-image: url("img/galaxy-milky-way-orbit-110854.jpg")
}

.size {
    background-size:contain;
    height: 500px;
}
.main {
display: flex;
flex-direction:column;
align-items: center;
justify-content:flex-end;
 color:white;
 font-family: 'Yanone Kaffeesatz'
}

.main p {
    text-align:center;
    margin: 0 15em;
}
.info {
    display: flex;
    justify-content: space-between;
    margin:0 10em;
}
#main-img  {
    height: 200px;
    width: 200px;
    border-radius:300%;
    border:4px solid white;
}

.previous-round img {
    height:60px;
}

.next-round img {
    height:60px;
}


a {
    text-decoration: none;
    display: inlin-block;
}

.pager {

}

.section-2 {
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
    font-family:'Yanone Kaffeesatz';
    background-image: linear-gradient(#323232,black );
    border-top: 2px solid #fafafa;
}

.section-2 img {
    width: 300px;
}

.text-img {
    display: flex;
    margin: 1em 3em;

}

.text-img img {
    border: 3px solid white;
}

.text-img p {
    margin: 0 6em;
}

.section-3 {
    background-color:  linear-gradient(black, #323232 );
    font-family:'Yanone Kaffeesatz';
    display:flex;
    flex-direction:column;
    align-items:center;
}

.section-4 {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family:'Yanone Kaffeesatz'
}

.card {
    background-color:#fafafa
}

.container {
    display:flex;
    justify-content:space-between;
    
}